<%= form_with model: [post, post_comment], remote: true do |form| %>
    <%= form.text_area :comment ,size: "40x4", class: "form-control" %>

  <div class="actions">
    <%= button_tag "コメントする", :type => "submit", :class =>"btn btn-light rounded-pill" %>
  </div>
<% end %>