<% post_comments.each do |comment| %>
  <div class="posted-comment">
    <% unless comment.id.nil? %>
      <%= attachment_image_tag @post.user.profile_image , :profile_image, format: 'jpeg', size: "40x40", fallback: "no_image.jpg", class:"mt-sm-2 rounded-circle"; %>
      <%= link_to "#{comment.user.name}さん", user_path(comment.user.id) %>からのコメント
      <p class="pl-sm-2 mt-sm-2"><%= comment.comment %></p>
      <% if comment.user == current_user %>
        <p><%= link_to 'コメントを削除する', post_post_comment_path(comment.post_id, comment.id), method: :delete, remote: true %></p>
      <% end %>
    <% end %>
  </div>
<% end %>