/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// -----ナビゲーションバー部分------
#nav {
  list-style: none;
  overflow: hidden;
}
#nav li {
  width: 100px;
  text-align: center;
  background-color: #CC9966;
  float: left;
  margin-top: 10px;
}
#nav li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
//  -----ナビゲーションバーここまで-----

header, nav, body {
  font-family: Chalkduster, "Bradley Hand", Courier, "Segoe Print", sans-serif;
}
header {
  background-color: #CC9966;
}

.logo {
  display: inline-block;
}

.gnav {
  // flex-direction: column;
}
.form-janre{
  margin-top: 10px;
}

#show-body{
  // margin: 0 auto;
  // align-items: center;
}

// ブックマークした投稿一覧からの投稿本文(body)とユーザーページ(name)へのCSS
.post_body{
    text-decoration: none;
    // color: #38aef0 ;
    color: #000 ;
}
.post_name{
    text-decoration: none;
    // color: #38aef0 ;
    color: #000 ;
    margin-left: 10px;
}