/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

@import url('https://fonts.googleapis.com/css?family=Sacramento');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, nav, body {
  font-family: Chalkduster, "Bradley Hand", Courier, "Segoe Print", sans-serif;
}
header, footer {
  background-color: #CC9966;

}

footer {
    // position: absolute;
    // bottom: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    background-image: image-url("bg003.png");     /* 背景画像指定 */
    background-repeat: repeat-x;                /* 背景の繰り返し設定 */
    background-size: contain;
}

header {
  
    // ロゴ
    .logo {
      display: inline-block;
      font-size: 1.4em;
      font-family: 'Amatic SC', cursive;
    }
    // ナビゲーションバー
    #nav {
      list-style: none;
      overflow: hidden;
    }
    #nav li {
      width: 100px;
      text-align: center;
      background-color: #CC9966;
      float: left;
      margin-top: 10px;
    }
    #nav li a {
      text-decoration: none;
      color: #fff;
      font-weight: bold;
    }

    // 検索欄
    .form-genre{
      padding-bottom: 10px;
      font-family: 'Amatic SC', cursive;
      align-items: flex-end;
        .search_text {
          color:  #000;
          width: 150px;
        }
        .search_submit{
          background-color: #33CC00;
          color: #FFF;
          width: 42px;
          border-radius: 30%;
          cursor: pointer;
          height: 22px;
        }
    }
}

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
main{
  background-color: #FFDEAD;
  flex: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  
      // Topページの透過画像用
    .content{
        width: 100%;
        height: 300px;
        background: #000;
        position: relative;
        margin-top: 20px;
        margin-bottom: 20px;
        .welcome{
            width: 100%;
            height: 1.5em;
            color: #fff;
            font-weight: bold;
            text-align: center;
            font-size: 30px;
            font-family: 'Sacramento', cursive;
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
        }
        .bg{
            width: 90%;
            height: 100%;
            position: relative;
            margin: 0 auto;
            background: image-url("moufu_megane.jpg");
            background-size: cover;
            opacity: 0.8;
        }
    }

    // Topページの紹介文
    #introduction{
      text-align: center;
      #introduction-text{
        display: inline-block;
        text-align: left;
      }
    }
    // ログインや新規登録のフォーム
    .field, .actions, .shared_action{
      padding-top: 10px;
    }
    // お問い合わせフォーム
    #form-contact{
      padding-top: 10px;
    }
    .contact-submit{
      float: right;
    }
    // サイドバーの表示
    tr.underline {
        border-bottom: solid;
        border-bottom-color: #BBBBBB;
        border-bottom-width: 1px;
    }
    
    // --投稿関連のレイアウト--
    .posted{
      border-style: groove;
      .posted-user{
        margin-left: 3px;
        border-bottom-style: double;
        border-bottom-color: #BBBBBB;
        border-bottom-width: 1px;
        padding-bottom: 5px;
      }
      .posted-body{
         // post_indexの画像サイズ
        .sized{
          width: 10%;
          height: 10%;
          border: solid;
          border-width: 0.5px;
          border-color: #BBBBBB;
          margin-bottom: 5px;
          margin-left: 20px;
        }
        //post_showの画像サイズ
        .sized-show{
          width: 40%;
          height: 40%;
          border: solid;
          border-width: 0.5px;
          border-color: #BBBBBB;
          margin-bottom: 5px;
          margin-left: 20px;
          display: flex;
          align-items: flex-start;
        }
      }
      #posted-info{
        padding-top: 5px;
      }
      .posted-comment{ // これだけpost_comments/_index にてclassを指定している
        border-top-style: solid;
        border-top-color: #BBBBBB;
        border-top-width: 1px;
      }
    }
    
    // UserのEdit画面、ファイル選択ボタンのレイアウト
    .item_image_btn{
      // 元のボタンを消す
      display: none;
    }
    #img_field {
      // 新しいボタン
      font-size: 15px;
      color: white;
      background-color: #00BB00;
      border-radius: 10px;
      width: 100px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      margin-top: 5px;
    
    }

}
